<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
 <script src="https://cdn.tailwindcss.com"></script>
 <title>Criar curso</title>
</head>
<body class="bg-[#141414]">
  <section class="text-center flex flex-col h-screen ">
   <h1 class="text-[#7C3AFF] font-bold text-4xl mt-12 mb-7">Cursos</h1>
   
   <div class="flex-grow flex justify-center text-white ">
    <div class="w-9/12 max-w-full">
     <form th:action="@{/cursos/create}" method="post" th:object="${course}">
      <div class=" flex flex-col gap-3">
       <input 
       name="name" th:field="*{name}"
       type="text" 
       placeholder="Nome"
       class="w-full p-4 rounded-lg bg-[#1B1B1B] text-xd text-white border border-[#292929] placeholder-[#E6E6E6]"
       >
       <input 
       name="category" th:field="*{category}"
       type="text" 
       placeholder="Categoria"
       class="w-full p-4 rounded-lg bg-[#1B1B1B] text-xd text-white border border-[#292929] placeholder-[#E6E6E6]"
       >
       <input 
       name="teacherName" th:field="*{teacherName}"
       type="text" 
       placeholder="Professor(a)"
       class="w-full p-4 rounded-lg bg-[#1B1B1B] text-xd text-white border border-[#292929] placeholder-[#E6E6E6]"
       >
       <input 
       name="status" th:field="*{status}"
       type="text" 
       placeholder="Ativo"
       class="w-full p-4 rounded-lg bg-[#1B1B1B] text-xd text-white border border-[#292929] placeholder-[#E6E6E6]"
       >
      </div>
      <button type="submit" class="bg-[#7C3AFF] hover:bg-[#4412A5] w-36 text-center mt-7 rounded-lg px-5 py-2.5 rounded-lg bold">
       Cadastrar
      </button>
     </form>
    </div>
   </div>
  </section>
</body>
</html>