<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
 <script src="https://cdn.tailwindcss.com"></script>
 <title>Home</title>
</head>
<body class="bg-[#141414]">
  <section class="text-center flex flex-col h-screen ">
   <h1 class="text-[#7C3AFF] font-bold text-4xl mt-12 mb-7">Cursos</h1>
   
   <div class="flex-grow flex justify-center text-white ">
    <div class="w-9/12 max-w-full">
     <table class="w-full shadow-lg rounded-tl-lg rounded-tr-lg">
      <thead>
       <tr class="bg-[#7C3AFF] font-bold">
        <th class="text-center pt-4 pb-4 rounded-tl-lg">Curso</th>
        <th class="text-center pt-4 pb-4">Categoria</th>
        <th class="text-center pt-4 pb-4">Professor(a)</th>
        <th class="text-center pt-4 pb-4 rounded-tr-lg">Ativo</th>
       </tr>
      </thead>

      <tbody>
        <tr th:each="course : ${courses}" class="odd:bg-[#1B1B1B] even:bg-[#212121] border-b border-[#3A3A3A]">
          <td class="pt-4 pb-4 text-[#E6E6E6]">
              <a th:href="@{/cursos/details/{id}(id=${course.id})}" 
                 class="relative text-[#7C3AFF] cursor-pointer after:content-[''] after:absolute after:left-0 after:bottom-[-2px] after:w-0 after:h-[2px] after:bg-[#7C3AFF] after:transition-all after:duration-300 hover:after:w-full">
                  <span th:text="${course.name}" class="text-[#E6E6E6]"></span>
              </a>
          </td>
           <td class="pt-4 pb-4 text-[#E6E6E6]" th:text="${course.category}"></td>
           <td class="pt-4 pb-4 text-[#E6E6E6]" th:text="${course.teacherName}"></td>
           <td class="pt-4 pb-4 text-[#E6E6E6]">
            <form th:action="@{'/cursos/active/' + ${course.id}}" method="post">
                <button type="submit"
                    class="transition-all duration-300 ease-in-out hover:bg-[#7C3AFF] hover:text-white px-3 py-1 rounded-md">
                    <span th:text="${course.status == 'ATIVO'} ? 'Sim' : 'Não'"></span>
                </button>
            </form>
        </td>     
       </tr>
     </tbody>
     </table>
     <button class="bg-[#7C3AFF] hover:bg-[#4412A5] w-36 text-center mt-7 rounded-lg px-5 py-2.5 rounded-lg">
      <a href="/cursos/create" class=" font-bold">Novo curso</a>
     </button>
    </div>
   </div>
  </section>
</body>
</html>