<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
 <script src="https://cdn.tailwindcss.com"></script>
 <title>Home</title>
</head>
<body class="bg-[#141414]">
  <section class="text-center flex flex-col h-screen ">
   <h1 class="text-[#7C3AFF] font-bold text-4xl mt-12 mb-7">Cursos</h1>
   
   <div class="flex-grow flex justify-center text-white ">
    <div class="w-9/12 max-w-full">
     <table class="w-full shadow-lg rounded-tl-lg rounded-tr-lg">
      <thead>
       <tr class="bg-[#7C3AFF] font-bold">
        <th class="text-center pt-4 pb-4 rounded-tl-lg">Curso</th>
        <th class="text-center pt-4 pb-4">Categoria</th>
        <th class="text-center pt-4 pb-4">Professor(a)</th>
        <th class="text-center pt-4 pb-4 rounded-tr-lg">Ativo</th>
       </tr>
      </thead>

      <tbody>
       <tr class="odd:bg-[#1B1B1B] even:bg-[#212121] border-b border-[#3A3A3A]">
           <td class="pt-4 pb-4 text-[#E6E6E6]">React</td>
           <td class="pt-4 pb-4 text-[#E6E6E6]">Front-end</td>
           <td class="pt-4 pb-4 text-[#E6E6E6]">Diego Fernandes</td>
           <td class="pt-4 pb-4 text-[#E6E6E6]">Sim</td>
       </tr>
       
       <tr class="odd:bg-[#1B1B1B] even:bg-[#212121] border-b border-[#3A3A3A]">
           <td class="pt-4 pb-4 text-[#E6E6E6]">Java</td>
           <td class="pt-4 pb-4 text-[#E6E6E6]">Back-end</td>
           <td class="pt-4 pb-4 text-[#E6E6E6]">Daniele Leão</td>
           <td class="pt-4 pb-4 text-[#E6E6E6]">Não</td>
       </tr>

       <tr class="odd:bg-[#1B1B1B] even:bg-[#212121] last:border-b-0 last:rounded-bl-lg last:rounded-br-lg">
           <td class="pt-4 pb-4 text-[#E6E6E6] rounded-bl-lg">Go</td>
           <td class="pt-4 pb-4 text-[#E6E6E6]">Back-end</td>
           <td class="pt-4 pb-4 text-[#E6E6E6]">Sem professor</td>
           <td class="pt-4 pb-4 text-[#E6E6E6] rounded-br-lg">Não</td>
       </tr>
     </tbody>
     </table>
     <button class="bg-[#7C3AFF] hover:bg-[#4412A5] w-36 text-center mt-7 rounded-lg px-5 py-2.5 rounded-lg">
      <a href="" class=" font-bold">Novo curso</a>
     </button>
    </div>
   </div>
  </section>
</body>
</html>